ul,li {
    display: inline;
    padding: 10px;
    color: aliceblue;
}
a{
    color: aliceblue;
}
a:hover{
    color:aquamarine;
}
div{
    padding: 20px;
    text-align: center;
    font-size: large;
}
.detail-section{
    padding: 50px;
    margin-top: 50px;
}

.loc{
    text-align: left;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
  
}
.left-text{
    color: black;
}
.right-group {
    color: black;
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust space between text and icons */
}

.right-group h5 {
  margin: 0;
  margin-right: 10px;
}
.right-group i {
  font-size: 20px;
  color: #333;
  transition: color 0.3s;
}
body{
    color: aliceblue;
    background-image: url(zetong-li-Uu1MoLHczCo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   background-color: rgba(0, 0, 0, 0.7);
